<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <p>
      App time.
    </p>

    <form action="/quotes" method="POST">
      <input type="text" placeholder="Your name" name="name" />
      <input type="text" placeholder="Your quote" name="quote" />
      <!-- The name attributes help create the request object to be passed to the server -->
      <button type="submit">
        Submit
      </button>
    </form>
  </body>
</html>

<ul class="quotes">
  <% for (var i = 0; i < samples.length; i++)%>
  <li>
    <span><%= samples[i].name %></span>
    <span><%= samples[i].quote %></span>

  </li>
</ul>