nav {
  border: 1px dotted grey;
  text-align: center;
  width: 100%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;

}
nav a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 20px
}