<!-- Some code sourced from my own files -->
<html lang="en">
  <link rel="stylesheet" type="text/css" href="styles.css">

  <body>
    <nav id="nav">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
    
    <form> 
    <label for="body">Body Input </label >
      <br>
      <input type="text" name="body" action="/posts/input" method="POST">
      <button type="submit">
         Submit
      </button>
    </form>
    <div>
      <% %> 
    </div>
  </body>
</html>
