<!-- Some code sourced from my own files -->
<html lang="en">
  <link rel="stylesheet" type="text/css" href="styles.css">

  <body>
    <nav id="nav">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
    
    <div>
      <% %> 
    </div>
  </body>
</html>
