<form action="/posts/search">

<select name="key">
<option name="id">ID</option>
<option name="title">Title</option>
<option name="body">Content</option>
</select>


<input type="text" name="value">
</form>

<!-- -->