<form action="/posts/login">
<label for="username">Username</label>
<input type="text" name="logname">
<br>
<label for="password">Pasword</label>
<input type="password" name="logpass">
<br>
<button type="submit">Log In</button>
</form>