
<script src="https://unpkg.com/dayjs"></script>

<script>
var obj = <%= post %>

</script>

<p><b>Title:</b><%-post.title%></p>
<br>
<p><b>Content:</b><%-post.body%></p>
<p>
  <b>Date posted:<b/>
  <span id="posttime">
  <%- %>
   </span>
</p>
